@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&family=Noto+Sans:wght@700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.left {
  background-image: url(images/1.png);
}

.right {
  background-image: url(images/2.png);
}

.img{
  background-image: url(images/3.png);
}